configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{icon} {name}";
  font: "NotoSans Nerd Font Bold 10";
  modi: "window,run,drun,emoji";
  show-icons: true;
  icon-theme: "Dracula";
  /* kb-row-tab: "";
  kb-row-select: "Tab"; */
}

@theme "/home/mabrouk/.config/rofi/theme.rasi"