configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{icon} {name}";
  font: "NotoSans Nerd Font Bold 10";
  modi: "window,run,drun,emoji";
  show-icons: true;
  icon-theme: "arcolinux-candy-beauty";
  kb-element-next: "";
  kb-row-select: "Tab";
}

@theme "/home/mabrouk/.config/rofi/theme.rasi"
