// File Header 
#![enable(implicit_some)]
(
    modkey: "Mod4",
    // mousekey: "Mod4",
    // worksp1aces: [],
    workspaces: [
        ( y: 0, x: 0, height: 1080, width: 1920 ,output: "HDMI1" ),
        ( y: 0, x: 1920, height: 1080, width: 1920, output: "eDP1"),
        ],
    // auto_derive_workspaces: true,
    tags: [" "," "," "," "," "," "," "," "," "],
    max_window_width: None,
    layouts: [
        MainAndVertStack,
        MainAndHorizontalStack,
        MainAndDeck,
        GridHorizontal,
        EvenHorizontal,
        EvenVertical,
        Fibonacci,
        CenterMain,
        CenterMainBalanced,
        Monocle,
        RightWiderLeftStack,
        LeftWiderRightStack,
    ],
    layout_mode: Tag,
    insert_behavior: Bottom,
    scratchpad: [
        (name: "Alacritty", value: "alacritty", x: 360, y: 90, height: 900, width: 1200),
        (name: "Pavucontrol", value: "pavucontrol", x: 360, y: 90, height: 900, width: 1200),
        (name: "Peek", value: "peek --no-headerbar", x: 0, y: 0, height: 1080, width: 1920),
    ],
    window_rules: [
        (window_class: "qv4l2", window_title: None, spawn_on_tag: None, spawn_floating: true),
    ],
    disable_current_tag_swap: true,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    sloppy_mouse_follows_focus: true,
    keybind: [
        (command: ToggleScratchPad, value: "Alacritty", modifier: ["modkey", "Shift"], key: "Return"),
        (command: ToggleScratchPad, value: "Peek", modifier: ["Alt", "Shift"], key: "p"),
        (command: ToggleScratchPad, value: "Pavucontrol", modifier: ["modkey", "Shift"], key: "v"),
        (command: ToggleSticky, modifier: ["modkey"], key: "s"),
        (command: ToggleFullScreen, modifier: ["modkey", "Shift"], key: "f"),
        (command: CloseWindow, modifier: ["modkey"], key: "q"),
        (command: SoftReload, modifier: ["modkey", "Shift"], key: "r"),
        (command: SwapTags, modifier: ["modkey"], key: "w"),
        (command: MoveWindowUp, modifier: ["modkey", "Shift"], key: "k"),
        (command: MoveWindowDown, modifier: ["modkey", "Shift"], key: "j"),
        (command: FocusWindowUp, modifier: ["modkey"], key: "k"),
        (command: FocusWindowUp, modifier: ["Alt"], key: "Tab"),
        (command: FocusWindowDown, modifier: ["modkey"], key: "j"),
        (command: NextLayout, modifier: ["modkey"], key: "space"),
        (command: PreviousLayout, modifier: ["modkey", "Shift"], key: "space"),
        (command: FocusWorkspaceNext, modifier: ["modkey"], key: "Right"),
 //       (command: FocusWorkspaceNext, modifier: ["modkey"], key: "d"),
        (command: FocusWorkspacePrevious, modifier: ["modkey"], key: "Left"),
        (command: FocusWorkspacePrevious, modifier: ["modkey"], key: "a"),
        // (command: MoveToLastWorkspace,modifier: ["modkey", "Shift"],key: "w"),
        (command: Execute, value: "leftwm-command \"MoveWindowToLastWorkspace\" \"FocusWorkspaceNext\"", modifier: ["modkey", "Shift"], key: "w"),
        // (command: FloatingToTile, modifier: ["modkey", "Shift"], key: "t"),
        (command: ToggleFloating, modifier: ["modkey", "Shift"], key: "t"),
        // (command: TileToFloating,modifier: ["modkey", "Shift"],key: "a"),
        (command: FocusNextTag, modifier: ["modkey"], key: "Tab"),
        (command: FocusPreviousTag, modifier: ["modkey", "Shift"], key: "Tab"),
        (command: MoveWindowTop, modifier: ["modkey"], key: "t"),
        (command: IncreaseMainWidth, value: "5", modifier: ["modkey", "Shift"], key: "l"),
        (command: DecreaseMainWidth, value: "5", modifier: ["modkey", "Shift"], key: "h"),
        (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "6"),
        (command: GotoTag, value: "7", modifier: ["modkey"], key: "7"),
        (command: GotoTag, value: "8", modifier: ["modkey"], key: "8"),
        (command: GotoTag, value: "9", modifier: ["modkey"], key: "9"),
        // (command: MoveToTag,  value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 1\" \"SendWorkspaceToTag 0 0\"", modifier: ["modkey", "Shift"], key: "1"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 2\" \"SendWorkspaceToTag 0 1\"", modifier: ["modkey", "Shift"], key: "2"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 3\" \"SendWorkspaceToTag 0 2\"", modifier: ["modkey", "Shift"], key: "3"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 4\" \"SendWorkspaceToTag 0 3\"", modifier: ["modkey", "Shift"], key: "4"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 5\" \"SendWorkspaceToTag 0 4\"", modifier: ["modkey", "Shift"], key: "5"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 6\" \"SendWorkspaceToTag 0 5\"", modifier: ["modkey", "Shift"], key: "6"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 7\" \"SendWorkspaceToTag 0 6\"", modifier: ["modkey", "Shift"], key: "7"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 8\" \"SendWorkspaceToTag 0 7\"", modifier: ["modkey", "Shift"], key: "8"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 9\" \"SendWorkspaceToTag 0 8\"", modifier: ["modkey", "Shift"], key: "9"),
    ],
    state_path: None,
)
