[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mabrouk/Desktop/obs-backgroundremoval]
row=6
col=0

[/home/mabrouk/Desktop/FSPwD00WQAEF5jg.jpeg]
row=8
col=0

[/home/mabrouk/Desktop/Youtube]
row=1
col=1

[/home/mabrouk/Desktop/Nemesis]
row=4
col=1

[/home/mabrouk/Desktop/malware]
row=7
col=0

[/home/mabrouk/Desktop/Stopwatch]
row=5
col=1

[/home/mabrouk/Desktop/Restart_v310_agenda.pdf]
row=8
col=1

[/home/mabrouk/Desktop/Mastering Vim Quickly (Jovica Ilic) (z-lib.org).pdf]
row=7
col=1

[/home/mabrouk/Desktop/Screenshots]
row=6
col=1

[/home/mabrouk/Desktop/eldenring.sh]
row=0
col=1

[/home/mabrouk/Desktop/LINUX]
row=3
col=1

[/home/mabrouk/Desktop/OBS]
row=2
col=1

[/home/mabrouk/Desktop/Audio]
row=0
col=2

[B298CB5C98CB1E2B]
row=0
col=0

[5F7EB65928D1FE6D]
row=2
col=0

[5EB4C48EB4C469DB]
row=1
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/mabrouk]
row=5
col=0

